body{
  background-color: rgb(127, 190, 224);
  /* background-color: rgb(117, 140, 211); */
}

.button {
  background-color: #2696bf; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 2rem;
}

.quote {
  font-size: 24px;
  font-style: italic;
  color: #333;
  /* background-color: rgb(198, 226, 236); */
  border: #333;
  border-radius: 5px;
}

.author {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(113, 162, 195);
  border-radius: 2rem;
  height:auto;
}

#footer{
  position: relative;
  background-color: rgb(93, 211, 251);
  border-radius: 1rem;
  display: flex;

}